body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fbe9e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 5px;
}

h1 {
  color: #d84315;
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-gap: 15px;
  justify-content: center;
  margin: 10px auto 40px auto; /* 40px простор под картите */
}


.info {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  margin-bottom: 10px;
}

.card {
  width: 120px;
  height: 120px;
  position: relative;
  perspective: 600px;
  border: none;
  background: none;
  cursor: pointer;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front {
  background-color: #ffab91;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
}

.back {
  transform: rotateY(180deg);
}

.back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card.flip .front {
  transform: rotateY(180deg);
}

.card.flip .back {
  transform: rotateY(0);
}

.card.locked {
  cursor: default;
  opacity: 0.8;
}

#message {
  margin-top: 10px;
  font-weight: bold;
  color: #d84315;
  font-size: 20px;
}

#restart {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff7043;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#restart:hover {
  background-color: #f4511e;
}
